html {
background-image: url('./Img/Background.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-width: 100%;
min-height: 100%;

}

.App{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
