.App {
background-image: url('./Img/Background.jpg');
background-size: cover;
min-width: 100%;
min-height: 100%;
background-repeat: no-repeat;
background-position: center;
position: absolute;
}

.heroText{
    color: white;
    font-size:60px;
}

.subText{
    color: white;
    font-size:20px;
}
.special{
    background-color: rgba(250, 250, 250, 0.671);
    
}